body {
    font-family: Poppins, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    transition: background-color 0.5s;
}

.title {
    color: #006992
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-task-container {
    flex-direction: column;
}

.add-task input {
    border: 1px solid #f4f4f4;
    border-radius: 5px;
    padding: 10px;
    width: 300px;
}

.task-input:focus {
    outline: #006992 solid 1px;
}

.logo {
    width: 80px;
    height: 80px;
    margin: 20px;
}

.task-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #a3d0e3;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
    gap: 10px;
    flex-wrap: wrap;
    width: 340px;
    margin: 25px 0 0 0;
}

.task-name {
    font-weight: bold;
    flex: 1;
    flex-wrap: wrap;
    min-width: 0;
}

.btn {
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer; 
}

.add-btn, .complete-btn {
    background-color: #006992;
}

.delete-btn {
    background-color: #ff0000;
}

.edit-btn {
    background-color: #0A8754;
}

.completed {
    background-color: gainsboro;
    text-decoration: line-through;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: red;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.theme-switcher {
    display: flex;
    justify-content: center;
    margin: 10px;
}

#sun-icon, #moon-icon {
    cursor: pointer;
    font-size: 24px;
}

.tags { /* Container for tags */
    display: flex;
    gap: 5px;
    width: 100%;
}
.tag { /* Tag for each task */
    display: flex;
    background-color: #006992;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 10px;
    border-radius: 20px;
}
.add-tag-btn {
    background-color: #006992;
    color: white;
    border: none;
    border-radius: 2px;
    padding: 5px;
    cursor: pointer;
}
.add-tag-btn i {
    font-size: 10px;
}

/* Styles for darkmode */
.dark {
    background-color: #222;
    color: white;
    transition: background-color 0.5s, color 0.5s;
}

.dark .title {
    color: white;
}

.dark .add-task {
    background-color: #444;
}

.dark .add-task input {
    background-color: #222;
    color: white;
}

.dark .task-row {
    background-color: #444;
    color: #ccc;
}

.dark .btn {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
}

.dark .completed {
    background-color: #666;
    color: #ccc;
    text-decoration-color: #666;
}

@media (min-width: 768px) {
    .container {
        flex-direction: row;
        gap: 5px;
    }

    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }

    .container-theme {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .add-task-container {
        flex-direction: column;

    }

    .add-task {
        margin-top: 0;
    }

    .add-task input {
        width: 400px;
    }

    .task-name {
        width: 100%;
    }

    .task-row {
        width: 440px;
    }

    .input-tags {
        width: 340px
    }
}